.container img {
    background-color: #f0f0f0;
    border-radius: 12px;
    text-align: center;
    padding: 1.5rem;
    width: 480px;
    height: 270px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.container img:hover {
    transform: translate(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.container h2 {
    margin: 0;
    text-align: center;
    font-weight: 500;
    font-size: 1.25rem;
    color: #666;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #d6d6d6;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

header h1{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    color: #333;
}

nav{
    background-color: #c4c4c4;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

nav ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    justify-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 200px;
}

nav ul li{
    margin: 0 1.5rem;
}

nav ul li a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s;
}
li a:hover{
    color: #333;
}

footer{
    font-family: 'Roboto', sans-serif;
    background-color: #d6d6d6;
    text-align: center;
    padding: 0.5rem;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    color: #444;
}